@model BuyHouse.WEB.Models.ViewModels.SellersAdvertsViewModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Seller`s adverts</title>
	<link rel="stylesheet" href="~/css/IndexFlatAdvert.css" />
	<link rel="stylesheet" href="~/css/GetSellersAdverts.css" />
</head>
<body>
	<div class="container pt-3 pb-3">
		<h1 class="main_title">@Localizer["Your adverts"]</h1><hr />
		<div class="row">
			<div class="col-lg-5">
			<p class="intro_text">@Localizer["Information for user"]</p>
			</div>
			<div class="col-lg-7">
				<img src="~/images/house_key.png" width="100%"/>
			</div>
		</div>
		@foreach (var item in Model.FlatAdverts)
		{
			<div class="row mt-5 grow">
				<div class="col-lg-3 photos_block col-md-12">
					<img src="@item.Photos.FirstOrDefault().Path" class="big_flatimg">
					<div class="small_photos">
						@{
							int ind = 1;
						}
						@foreach (var photo in item.Photos)
						{
							ind++;
							if (@item.Photos.FirstOrDefault().Path == photo.Path)
								continue;
							<img src="@photo.Path" class="small_flatimg">
							if (ind >= 5)
								break;
						}
					</div>
				</div>
				<div class="col-lg-8 col-md-12">
					<p class="param_block_advert">
						<img src="~/images/icons/money.png" class="mb-2" width="20" height="20" />
						<span id="totalPrice">@item.TotalPrice</span> @Localizer[item.Currency.ToString()]
						@Localizer["price"] @Localizer["per object"]
						(<span id="pricePerSquareMeter">@item.PricePerSquareMeter</span> @Localizer[item.Currency.ToString()] @Localizer["per"] м<sup>2</sup>)
					</p>
					<h3>@item.MainInfo.City, @item.MainInfo.Street, @item.MainInfo.HouseNumber</h3>
					<p class="info_block">
						<b>@Localizer["total area"]:</b> @item.TotalArea м<sup>2</sup><br>
						<b>@Localizer["number of rooms"]:</b> @item.Rooms<br>
						<b>@Localizer["floor"]:</b> @item.Floor
					<p class="description">@item.Description</p>
					</p>
					<hr>
					<p>@item.CreationDate.Value.ToString("yyyy-MM-dd")</p>
					<a class="btn btn-dark btn-md datails_btn" asp-action="GetFlatAdvert" asp-controller="FlatAdvert" asp-route-flatAdvertId="@item.Id">@Localizer["Details"]</a>
					<a class="btn btn-dark btn-md datails_btn" asp-action="#" asp-controller="#" asp-route-flatAdvertId="@item.Id">@Localizer["Edit info"]</a>
					<a class="btn btn-dark btn-md datails_btn" asp-action="#" asp-controller="#" asp-route-flatAdvertId="@item.Id">@Localizer["Delete"]</a>
				</div>
			</div>
		}	
	</div>
</body>
</html>
