@model BuyHouse.WEB.Models.ViewModels.HomeIndexViewModel
<div class="intro">
	<div class="intro_inner">
		<h2 class="title_intro mb-5">Знайди своє нове житло!</h2>
		<a class="btn btn-lg btn-warning btn_intro" asp-action="Index" asp-controller="FlatAdvert">Квартири</a>
		<a class="btn btn-lg btn-warning btn_intro" asp-action="#" asp-controller="#">Будинки</a>
		<a class="btn btn-lg btn-warning btn_intro" asp-action="#" asp-controller="#">Кімнати</a>
	</div>
</div>
<div class="container">
	<div class="row mb-4">
		<h2 class="title_block_advert mt-3">Найбільш вподобані квартири <img src="~/images/icons/flat.png" width="50" height="50" /></h2>
		<hr />
	</div>
</div>
<div class="container">
	<div class="row row_block_advert">
		@foreach (var item in Model.FlatAdverts)
		{
			<div class="col-md-4 col-sm-12 col-xs-12 grow">
				<a class="link_block_advert" asp-action="GetFlatAdvert" asp-controller="FlatAdvert" asp-route-flatAdvertId="@item.Id">
					<img class="img-responsive img_block_advert" src="@item.Photos.FirstOrDefault().Path">
					<div class="mt-3 info_block_advert col-md-12">
						<p class="param_block_advert">
							<img src="~/images/icons/money.png" class="mb-2" width="20" height="20" />
							<b>@item.TotalPrice @item.Currency</b>
							за об'єкт
							(@item.PricePerSquareMeter @item.Currency за м<sup>2</sup>)
						</p>
						<h5>@item.MainInfo.City, @item.MainInfo.Street, @item.MainInfo.HouseNumber</h5>
						<p class="param_block_advert">
							<b>Загальна площа:</b> @item.TotalArea м<sup>2</sup><br>
							<b>Кімнати:</b> @item.Rooms
						</p>
					</div>
				</a>
			</div>
		}
	</div>
</div>

