@model BuyHouse.WEB.Models.ViewModels.IndexViewModel
@using BuyHouse.DAL.Entities.HelperEnum
@addTagHelper *, BuyHouse.WEB
<div class="container">
<form name="filterForm" method="post" asp-action="Index" asp-controller="FlatAdvert">
    <div class="form-inline">
		<label >Кількість оголошень на сторінці: </label><br />
		<input id="pageSize" name="pageSize" type="radio" value="10" />
		<lable>10</lable><br />
		<input id="pageSize" name="pageSize" type="radio" value="20" />
		<lable>20</lable><br />
		<input id="pageSize" name="pageSize" type="radio" value="50" />
		<lable>50</lable><br />

        <label>Місто: </label>
        <input name="filter.CityName" value="@Model.FlatAdvertFilter.CityName" class="form-control" />     
 
		<label >Кількість кімнат: </label><br />
		<input id="countRooms" name="filter.CountRooms" type="radio" value="All" />
        <lable>All</lable><br />
		<input id="countRooms" name="filter.CountRooms" type="radio" value="1" />
		<lable>1</lable><br />
		<input id="countRooms" name="filter.CountRooms" type="radio" value="2" />
		<lable>2</lable><br />
		<input id="countRooms" name="filter.CountRooms" type="radio" value="3" />
		<lable>3</lable><br />
		<input id="countRooms" name="filter.CountRooms" type="radio" value="4+" />
		<lable>4+</lable><br />

		<label>Ціна: </label><br />
		<label>Від: </label>
        <input id="inputMinMaxValue" name="filter.MinPrice" class="form-control" value="@Model.FlatAdvertFilter.MinPrice"  />  
		<label>До: </label>
        <input id="inputMinMaxValue" name="filter.MaxPrice" class="form-control" value="@Model.FlatAdvertFilter.MaxPrice"  /> 		

		<label  class="control-label">Валюта: </label><br />
	    <input id="currency" name="filter.Currency" type="radio" value="@Currency.Any" />
		<lable>Any</lable><br />
		<input id="currency" name="filter.Currency" type="radio" value="@Currency.USD" />
		<lable>USD</lable><br />
		<input id="currency" name="filter.Currency" type="radio" value="@Currency.Euro" />
		<lable>Euro</lable><br />
		<input id="currency" name="filter.Currency" type="radio" value="@Currency.UAH" />
		<lable>UAH</lable><br />

		<label  class="control-label">Ціна за: </label><br />
		<input id="typeOfPrice" name="filter.TypeOfPrice" type="radio" value="@TypeOfPrice.TotalPrice" />
        <lable>за об'єкт</lable><br />
		<input id="typeOfPrice" name="filter.TypeOfPrice" type="radio" value="@TypeOfPrice.PerSquareMeter" />
		<lable>за кв. метр</lable><br />

	    <label>Загальна площа: </label><br />
		<label>Від: </label>
        <input name="filter.MinTotalArea" id="inputMinMaxValue" value="@Model.FlatAdvertFilter.MinTotalArea" class="form-control" />  
		<label>До: </label>
        <input name="filter.MaxTotalArea" id="inputMinMaxValue" value="@Model.FlatAdvertFilter.MaxTotalArea" class="form-control" />
	
		<label>Поверх: </label><br />
		<label>Від: </label>
        <input name="filter.MinFloor" id="inputMinMaxValue" value="@Model.FlatAdvertFilter.MinFloor" class="form-control" />  
		<label>До: </label>
        <input name="filter.MaxFloor" id="inputMinMaxValue" value="@Model.FlatAdvertFilter.MaxFloor" class="form-control" />
		
		 <input type="submit" value="Фільтр" class="btn btn-success" />
    </div>
</form>
@foreach(var item in Model.FlatAdverts){
	<div class="row mt-5" style="border: 3px solid blue; padding: 10px;">
		<div class="col-md-7">
			<p>Регіон: @item.MainInfo.Region</p>
			<p>Місто: @item.MainInfo.City</p>
			<p>Вулиця: @item.MainInfo.Street, @item.MainInfo.HouseNumber </p>
			<p>Загальна площа: @item.TotalArea</p>
			<p>Кількість кімнат: @item.Rooms</p><hr>	
			<p id="totalPrice">Ціна: @item.TotalPrice @item.Currency за об'єкт</p>
			<p id="pricePerSquareMeter">@item.PricePerSquareMeter @item.Currency за кв. метр</p>
			<hr>
			<p>User Name: some name</p>
			<p>User email: some email</p>
			<p>User phone: some phone</p>
			<a asp-action="GetFlatAdvert" asp-controller="FlatAdvert" asp-route-flatAdvertId="@item.Id">Details</a>
		</div>
		<div class="col-md-5">
				@foreach(var photo in item.Photos)
				{
					<img src="@photo.Path" width="100" height="100">
				}			
		</div>
	</div>
	<br /><hr />
}

<page-link page-model="Model.PageViewModel" page-action="Index"
       page-url-filter.CityName="@Model.FlatAdvertFilter.CityName"
	   page-url-filter.CountRooms="@Model.FlatAdvertFilter.CountRooms"	
	   page-url-filter.MinPrice="@Model.FlatAdvertFilter.MinPrice"
	   page-url-filter.MaxPrice="@Model.FlatAdvertFilter.MaxPrice"
	   page-url-filter.TypeOfPrice="@Model.FlatAdvertFilter.TypeOfPrice"
	   page-url-filter.Currency="@Model.FlatAdvertFilter.Currency"
	   page-url-filter.MinTotalArea="@Model.FlatAdvertFilter.MinTotalArea" 
	   page-url-filter.MaxTotalArea="@Model.FlatAdvertFilter.MaxTotalArea"
	   page-url-filter.MinFloor="@Model.FlatAdvertFilter.MinFloor" 
	   page-url-filter.MaxFloor="@Model.FlatAdvertFilter.MaxFloor">
	   </page-link>
</div>
<script  src="~/js/FilterScript.js"></script>