@model IEnumerable<BuyHouse.BLL.DTO.AdvertDTO.FlatAdvertDTO>
@*Test View*@
@foreach(var item in Model){
	<p>ID: @item.Id</p>
	<p>Total area: @item.TotalArea</p>
	<p>Description: @item.Description</p>
	<a asp-action="DeleteFlatAdvert" asp-controller="FlatAdvert" asp-route-flatAdvertId="@item.Id">Delete from db</a>
	<a asp-action="GetFlatAdvert" asp-controller="FlatAdvert" asp-route-flatAdvertId="@item.Id">Details</a>
	<br />
}
