@model BuyHouse.WEB.Models.ViewModels.IndexViewModel
@*Test View*@
<div class="container">
<form method="post" asp-action="Index" asp-controller="FlatAdvert">
    <div class="form-inline">
        <label>Місто: </label>
        <input name="nameCity" value="@Model.FilterViewModel.SelectedCityName" class="form-control" />     
 
		<label class="control-label">Кількість кімнат: </label>
        @Html.DropDownList("countRooms", Model.FilterViewModel.CountRooms,
                    htmlAttributes: new { @class = "form-control" })

		<label>Ціна: </label><br />
		<label>Від: </label>
        <input id="inputMinMaxValue" name="minPrice" class="form-control" value="@Model.FilterViewModel.SelectedMinPrice"  />  
		<label>До: </label>
        <input id="inputMinMaxValue" name="maxPrice" class="form-control" value="@Model.FilterViewModel.SelectedMaxPrice"  /> 
		
		<label class="control-label">Валюта: </label>
        @Html.DropDownList("currency", Model.FilterViewModel.Currency,
                    htmlAttributes: new { @class = "form-control" })

		<label  class="control-label">Ціна за: </label>
        @Html.DropDownList("typeOfPrice", Model.FilterViewModel.TypeOfPrice,
                    htmlAttributes: new { @class = "form-control", @id="typeOfPrice" })

		<label>Загальна площа: </label><br />
		<label>Від: </label>
        <input name="minTotalArea" id="inputMinMaxValue" value="@Model.FilterViewModel.SelectedMinTotalArea" class="form-control" />  
		<label>До: </label>
        <input name="maxTotalArea" id="inputMinMaxValue" value="@Model.FilterViewModel.SelectedMaxTotalArea" class="form-control" />

		<label>Поверх: </label><br />
		<label>Від: </label>
        <input name="minFloor" id="inputMinMaxValue" value="@Model.FilterViewModel.SelecetedMinFloor" class="form-control" />  
		<label>До: </label>
        <input name="maxFloor" id="inputMinMaxValue" value="@Model.FilterViewModel.SelectedMaxFloor" class="form-control" />
		
		 <input type="submit" value="Фільтр" class="btn btn-success" />
    </div>
</form>
@foreach(var item in Model.FlatAdverts){
	<div class="row mt-5" style="border: 3px solid blue; padding: 10px;">
		<div class="col-md-7">
			<p>Регіон: @item.MainInfo.Region</p>
			<p>Місто: @item.MainInfo.City</p>
			<p>Вулиця: @item.MainInfo.Street, @item.MainInfo.HouseNumber </p>
			<p>Загальна площа: @item.TotalArea</p>
			<p>Кількість кімнат: @item.Rooms</p><hr>	
			<p id="totalPrice">Ціна: @item.TotalPrice @item.Currency за об'єкт</p>
			<p id="pricePerSquareMeter">@item.PricePerSquareMeter @item.Currency за кв. метр</p>
			<hr>
			<p>User Name: some name</p>
			<p>User email: some email</p>
			<p>User phone: some phone</p>
			<a asp-action="GetFlatAdvert" asp-controller="FlatAdvert" asp-route-flatAdvertId="@item.Id">Details</a>
		</div>
		<div class="col-md-5">
				@foreach(var photo in item.Photos)
				{
					<img src="@photo.Path" width="100" height="100">
				}			
		</div>
	</div>
	<br /><hr />
}
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index" asp-controller="FlatAdvert"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-nameCity="@(Model.FilterViewModel.SelectedCityName)"
	   asp-route-countRooms="@(Model.FilterViewModel.CountRooms)"
	   asp-route-minPrice="@(Model.FilterViewModel.SelectedMinPrice)"
	   asp-route-maxPrice="@(Model.FilterViewModel.SelectedMaxPrice)"
	   asp-route-currency="@(Model.FilterViewModel.Currency)"
	   asp-route-typeOfPrice="@(Model.FilterViewModel.TypeOfPrice)"
	   asp-route-minTotalArea="@(Model.FilterViewModel.SelectedMinTotalArea)"
	   asp-route-maxTotalArea="@(Model.FilterViewModel.SelectedMaxTotalArea)"
	   asp-route-minFloor="@(Model.FilterViewModel.SelecetedMinFloor)"
	   asp-route-minFloor="@(Model.FilterViewModel.SelectedMaxFloor)"
       class="btn  btn-outline-dark">
        Назад
    </a>
}

@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index" asp-controller="FlatAdvert"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-nameCity="@(Model.FilterViewModel.SelectedCityName)"
	   asp-route-countRooms="@(Model.FilterViewModel.CountRooms)"
	   asp-route-minPrice="@(Model.FilterViewModel.SelectedMinPrice)"
	   asp-route-maxPrice="@(Model.FilterViewModel.SelectedMaxPrice)"
	   asp-route-currency="@(Model.FilterViewModel.Currency)"
	   asp-route-typeOfPrice="@(Model.FilterViewModel.TypeOfPrice)"
	   asp-route-minTotalArea="@(Model.FilterViewModel.SelectedMinTotalArea)"
	   asp-route-maxTotalArea="@(Model.FilterViewModel.SelectedMaxTotalArea)"
	   asp-route-minFloor="@(Model.FilterViewModel.SelecetedMinFloor)"
	   asp-route-minFloor="@(Model.FilterViewModel.SelectedMaxFloor)"
       class="btn btn-outline-dark">
        Вперед
    </a>
}
</div>

<script>
		var input = document.querySelectorAll("#inputMinMaxValue");
		for(const item of input) {
			if(item.value=="0")
				item.value = ""
		}


		var typeOfPrice = document.querySelector("#typeOfPrice");
		var totalPrice = document.querySelectorAll("#totalPrice");
        var pricePerSquareMeter = document.querySelectorAll("#pricePerSquareMeter");
		if (typeOfPrice.value == "за об'єкт") {
            for (const item of totalPrice) {
                item.style.fontSize = "35px";
                
            }
		    for (const item of pricePerSquareMeter) {
                item.style.fontSize = "15px";
                
            }
		}

        if(typeOfPrice.value == "за кв. метр"){
            for (const item of totalPrice) {
                item.style.fontSize = "15px";
                
            }
		    for (const item of pricePerSquareMeter) {
                item.style.fontSize = "35px";
                
            }
        }
</script>
