@model BuyHouse.WEB.Models.AdvertModel.HouseAdvertModel
@*Test View*@
@if (TempData["AlertMessage"] != null)
		{
			<div class="alert alert-success d-flex align-items-center">
				<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
				<div>
					<strong>Success!</strong>@TempData["AlertMessage"]
				</div>
			</div>
		}
<div class="container mt-3">
	<div class="row">
		<div class="col-md-7">
			<p>Регіон: @Model.MainInfo.City</p>
			<p>Місто: @Model.MainInfo.City</p>
			<p>Вулиця: @Model.MainInfo.Street</p>
			<p>Номер будинку: @Model.MainInfo.HouseNumber</p>
			<p>Дата реєстрації: @Model.MainInfo.RegistrationDate</p>
			<hr />
			<br />
			<p>Опис: @Model.Description</p>
			<p>Тип нерухомості: @Model.Type</p>
			<p>Кінати: @Model.Rooms</p>
			<p>Тип стін: @Model.TypeOfWalls</p>
			<p>Загальна площа: @Model.TotalArea</p>
			<p>Житлова площа: @Model.LivingArea</p>
			<p>Площа ділянки: @Model.LandArea</p>
			<p>Поверх: @Model.Floor</p>
			<p>Опалення: @Model.Heating</p>
			<p>Рік побудови: @Model.YearBuilt</p>
			<hr />
			<br />
			<p>Ціна: @Model.Price @Model.Currency</p>
			<p>Дата створення оголошення: @Model.CreationDate</p>
		</div>
		<div class="col-md-5">
			@foreach (var photo in Model.Photos)
			{
				<img src="@photo.Path" width="250" height="250">
			}
		</div>
	</div>
</div>
